{
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "brightspace/react-config",
  "parser": "babel-eslint",
  "rules": {
      "react/jsx-uses-react": 1
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "webpackIsomorphicTools": true
  }
}
